svg {
    height: 100%;
    width: 100%;
    float: right;
    display: block;

}
p {
  color: #aaa;
  text-align: center;
  margin: 2em 0;
}

.fb_iframe_widget span {
	width: 101px;
	height: 20px;
}

h1 {
	color: red;
}